extends layout

block content
	.main__inner
		header
			h1.header__title.header__title--contact Contact
			h2 Message me
		.content__wrapper
			.contact-form__wrapper
				form.contact-form(action="/contact2", method="post")
					.contact-form__inner-top
						input.input__box.input__box--name(type="text", name="name" placeholder="Name" autocomplete="name")
						input.input__box.input__box--email(type="email", name="email" placeholder="Email" autocomplete="email")
					.contact-form__inner-bottom
						input.input__box.input__box--subject(type="text", name="subject" placeholder="Subject" autocomplete="subject")
						textarea.input__box.input__box--message(name="message", cols="30", rows="10" placeholder="Message")
						input.input__box.input__box--submit(type="submit", value="Send message")
			each item in h.contactPageContent
				case item.type
					when "text"
						p.content__item.content__item--text= item.text
					when "list"
						ul.contact__other(class=`${item.customClass}`)
							each listItem in h.contactIcons
								- const title = listItem.title.toLowerCase();
								li.contact__other-list-item(title=`${listItem.title}`)
									i(class=listItem.icon)
									a.contact__other-link(href=listItem.href, class=`contact__other-link--${title}`, title=`${listItem.title}`)= listItem.title
					default
						.content__item= item.text
